a{
    text-decoration: none;
}
a:hover {
  color: white;
}
a:active {
  text-decoration: none;
}
.normal{
    color: white
}
.normal:hover{
    text-decoration: none;
}
.border-bottom{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.ogc{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}